<div [ngClass]="{ snapped: buttonText === 'Oups, unsnaps!'}" class="facesnap-card">
  <h2>{{ faceSnap.title | titlecase}}</h2>
  <a routerLink="/facesnaps">Retour</a>
  <p *ngIf="faceSnap.location">Photo prise à {{ faceSnap.location}}</p>
  <p> mise en ligne le {{ faceSnap.createdDate | date: 'dd MMMM YYYY'}}</p>
  <img [src]=faceSnap.imageUrl [alt]=faceSnap.title>
  <p>{{ faceSnap.description }}</p>
  <p>
    <button (click)="onSnap()">
      {{ buttonText }}
    </button>
    <span [ngStyle]="{color: 'rgb(0,' + faceSnap.snaps + ', 0)'}">👌🏻 {{ faceSnap.snaps }}</span>
  </p>
</div>
